{% extends 'base.html' %}

{% block content %}
    <section class="technicalSkills">
        <h2 class="technical">
            Technical Skills
        </h2>
        <div class="mb-3">
            <h6>Languages</h6>  
            <span class="badge">Python</span>
            <span class="badge">JavaScript</span>
            <span class="badge">PHP</span>
            <span class="badge">SQL</span>
        </div>
        <div class="mb-3">
            <h6>Backend</h6>    
            <span class="badge">Backend Development</span>
            <span class="badge">REST API Concepts</span>
            <span class="badge">Authentication</span>
            <span class="badge">Application Logic Design</span>
            <span class="badge">Automation</span>
        </div>
        <div class="mb-3">
            <h6>Databases</h6>  
            <span class="badge">MySQL</span>
            <span class="badge">SQL(CRUD Operations)</span>
            <span class="badge">Relational Schema Design</span>
            <span class="badge"> Database Connectivity</span>
        </div>
        <div class="mb-3">
            <h6>Web</h6>    
            <span class="badge">HTML5</span>
            <span class="badge">CSS3</span>
            <span class="badge">Bootstrap</span>
            <span class="badge">Responsive UI Design</span>
        </div>
        <div class="mb-3">
            <h6>Tools</h6>  
            <span class="badge">GitHub</span>
            <span class="badge">Git</span>
            <span class="badge">XAMPP</span>
            <span class="badge">Debugging</span>
            <span class="badge">File Handling</span>
            <span class="badge">Input Validation</span>
        </div>
        <div class="mb-3">
            <h6>Concepts</h6>   
            <span class="badge">OOP</span>
            <span class="badge">Data Structures</span>
            <span class="badge">Problem Solving</span>
            <span class="badge">Workflow Logic</span>
            <span class="badge">Clean Code Practices</span>
        </div>      
    </section>
    
    <section class="educationSkills">
      <h2>Education</h2>
       <div class="row">
        <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">
                      MCA
                  </h5>
                  <h6 class="card-subtitle">Institute of Technology & Management (SSBES' ITM), Nanded</h6>
                  <p class="card-text">
                      2024-2026 | Result not yet declared
                  </p>
              </div>  
            </div>
         </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">
                          BCA
                      </h5>
                      <h6 class="card-subtitle">Institute of Technology & Management (SSBES' ITM), Nanded</h6>
                      <p class="card-text">
                          2021-2024 <br> <b>CGPA</b> <br>8.86
                      </p>
                  </div>  
                </div>
            </div>
        </div>
    </section>

    <section class="certifications">
        <h2>Certifications</h2>
        <ul class="list-group">
            <li class="list-group-item">
                Python AI Certification
            </li>
            <li class="list-group-item">
                SQL Certification
            </li>
            <li class="list-group-item">
                Skill Academy Certified Python
            </li>
        </ul>
    </section>
    <section class="languageHobbies">
        <h2>Languages</h2>
            <span class="badge">
                Marathi
            </span>
            <span class="badge">
                English
            </span>
            <span class="badge">
                Hindi
            </span>
        <h2>Hobbies</h2>
            <span class="badge">Reading Books</span> 
            <span class="badge">Watching Moon </span> 
            <span class="badge">Video Editing</span>
    </section>
{% endblock %}