{% extends 'base.html' %}
{% block content %}
            <section>
                <h2>Contact Us</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>Email</h5>
                                      <a href="mailto:samikshapoul@gmail.com">samikshapoul@gmail.com</a>
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>LinkedIn</h5>
                                    <a href="https://www.linkedin.com/in/samiksha-poul/" target="_blank">linkedin.com/in/samiksha-poul</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>GitHub</h5>
                                        <a href="https://github.com/poulsamiksha7" target="_blank">github.com/poulsamiksha7</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
                
    <footer>
        <h6>&copy; Samiksha Dnyanoba Poul</h6>
    </footer>
{% endblock %}